.whole {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;

  h3 {
    font-size: 1.3em;
    margin: 5px;
  }

  div {
    display: flex;
    margin-top: 10px;
    @media only screen and (max-width: 600px) {
    flex-direction: column;
    }
    width: 100%;

    
    img {
      max-width: 350px;
      max-height: 350px;
      width: 100%;
      padding: 5px;
      @media only screen and (min-width: 800px) {
        width: 50%;
        height: 50%;
      }
    }
    &.text {
      display: block;
      p {
        padding: 5px;
        font-size: 1.1em;
      }
      margin-bottom: 10px;
    }
  }
}