* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
  background-image: url(./data/bgimg23.jpg);
  background-repeat: repeat;
  height: 100vh;
}